{% extends 'backoffice.html.twig' %}

{% block title %}{% trans %}New Event{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new Event{% endtrans %}</h1>

    <div class="well">

        {{ include('event/_form.html.twig') }}

        <a href="{{ path('event_index') }}">{% trans %}back to list{% endtrans %}</a>

    </div>
{% endblock %}
