{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style>
        body {
            background-color: #222 !important;
        }

        h1, section#login .section-heading {
            color: white;
        }
    </style>
{% endblock %}

{% block body %}
    <section id="login">
        <div class="container">
            <h1 class="section-heading">{% trans %}Tchatchao admin{% endtrans %}</h1>

            <div class="row">
                <div class="col-lg-8">
                    <div class="well">
                        <div class="row">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            <h2>Log in</h2>

                            <form method="post">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-offset-2 col-sm-4">
                                            <label for="inputUsername" class="sr-only">{% trans %}Username{% endtrans %}</label>
                                            <input type="text" value="{{ last_username }}" name="username"
                                                   id="inputUsername" class="form-control" placeholder="Username"
                                                   required autofocus>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-offset-2 col-sm-4">
                                            <label for="inputPassword" class="sr-only">{% trans %}Password{% endtrans %}</label>
                                            <input type="password" name="password" id="inputPassword"
                                                   class="form-control"
                                                   placeholder="Password" required>
                                        </div>
                                    </div>
                                </div>

                                {#Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.#}
                                {#See https://symfony.com/doc/current/security/remember_me.html#}
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-offset-2 col-sm-4">
                                            <label>
                                                <input type="checkbox" name="_remember_me"> {% trans %}Remember me{% endtrans %}
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-offset-2 col-sm-4">
                                            <button class="btn btn-primary" type="submit">
                                                {% trans %}Sign in{% endtrans %}
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}