{% extends 'backoffice.html.twig' %}

{% block title %}{% trans %}Edit Background{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit Background{% endtrans %}</h1>

    <div class="well">

        {{ include('background/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('background_index') }}">{% trans %}back to list{% endtrans %}</a>

    </div>
{% endblock %}
