{% extends 'backoffice.html.twig' %}

{% block title %}{% trans %}Edit Album{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit Album{% endtrans %}</h1>

    <div class="well">

        {{ include('album/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('gallery_index') }}">{% trans %}back to list{% endtrans %}</a>

    </div>
{% endblock %}
