{% extends 'backoffice.html.twig' %}

{% block title %}{% trans %}New dance{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Create new dance{% endtrans %}</h1>

<div class="well">

    {{ include('dance/_form.html.twig') }}

    <a href="{{ path('gallery_index') }}">{% trans %}back to list{% endtrans %}</a>

</div>
{% endblock %}
