{% extends 'backoffice.html.twig' %}


{% block title %}{% trans %}Edit member{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}Edit member{% endtrans %}</h1>

    <div class="well">

        {{ include('member/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('member_index') }}">{% trans %}back to list{% endtrans %}</a>

    </div>
{% endblock %}
